@model EPES.Web.Models.SelfEvaluationDto

@{
    ViewData["Title"] = "CreateSelfEvaluation";
}

<div class="container-fluid mx-auto ">
    <div class="row d-flex justify-content-center ">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center ">
            <h3>Employee(Self) Evaluation page</h3>

            <div class="card ">
                <p class="text-center mb-4">Rate yourself on the basis of following skills on the scale of 10</p>
                <form class="form-card" asp-action="CreateSelfEvaluation">
                    <div class="row justify-content-between text-left">
                      
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="UserDtoEmail" class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input asp-for="UserDtoEmail" id="UserDtoEmail" name="UserDtoEmail" placeholder="Enter your UserDtoEmail"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="SubmissionDate" class="form-control-label px-3">submission Date<span class="text-danger"> *</span></label> <input asp-for="SubmissionDate" id="SubmissionDate" name="SubmissionDate" placeholder="Write your submission Date"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="Technical" class="form-control-label px-3">Technical skills<span class="text-danger"> *</span></label> <input asp-for="Technical" id="Technical" name="Technical" placeholder="Rate your Technical Skills"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label asp-for="TaskCompleted" class="form-control-label px-3">TaskCompleted<span class="text-danger"> *</span></label>
                            <input asp-for="TaskCompleted" id="TaskCompleted" name="TaskCompleted" placeholder="Response about Task Completion">
                        </div>             
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="Commmunication" class="form-control-label px-3">Communication skills<span class="text-danger"> *</span></label> <input asp-for="Commmunication" id="Communication" name="Communication" placeholder="Rate your Communication Skills"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="Adaptability" class="form-control-label px-3">Adaptability<span class="text-danger"> *</span></label> <input asp-for="Adaptability" id="Adaptability" name="Adaptability" placeholder="Rate yourself on Adaptability"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="TimeManagement" class="form-control-label px-3">Time Management<span class="text-danger"> *</span></label> <input asp-for="TimeManagement" id="TimeManagement" name="TimeManagement" placeholder="Rate yourself on TimeManagement"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label asp-for="GoalAchievement" class="form-control-label px-3">Goal Achievement<span class="text-danger"> *</span></label> <input asp-for="GoalAchievement" id="GoalAchievement" name="GoalAchievement" placeholder="Rate yourself on GoalAchievement"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label asp-for="UserDto.Email" class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
                            <input asp-for="UserDto.Email" id="UserDto.Email" name="UserDto.Email" placeholder="Enter your Employee Email">
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="form-group col-sm-6">
                            <a asp-action="SelfEvaluationIndex" class="btn btn-outline-secondary">Back to List</a>
                        </div>
                        <div class="form-group col-sm-6">
                            <button type="submit" value="Create" class="btn-block btn-primary">Submit</button>
                        </div>
                    </div>

                    @* <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" value="Create" class="btn-block btn-primary">Submit</button> </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6" asp-action="SelfEvaluationIndex" class="btn-primary btn form-control ">Back to List</div>
                    </div> *@
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-image: url("https://i.imgur.com/GMmCQHC.png");
        background-repeat: no-repeat;
        background-size: 100% 100%
    }

    .card {
        padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
    }

    .blue-text {
        color: #00BCD4
    }

    .form-control-label {
        margin-bottom: 0
    }

    input, textarea, button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

        input:focus, textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #00BCD4;
            outline-width: 0;
            font-weight: 400
        }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

        .btn-block:hover {
            color: #fff !important
        }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
</style>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}