
@* @model IEnumerable<EmployeeDto> 
<html>
<head>
    <title>Send Email Page</title>
</head>
<body>
    <h1>Send Sample Email to All Employees</h1>
    <form action="/EmailSender/SendSampleEmail" method="post">
        <button type="submit">Send Email</button>
    </form>
</body>
</html>
 *@