@model ManagerEvaluationDto

<form asp-action="CreateManagerEvaluation">
	<br />
	<div class="container border p-3">
		<h1 class="text-white text-center">Create ManagerEvaluation</h1>
		<hr />
		<div class="row">
			<div class="col-12 pb-3">
				<label class="control-label pt-2" hidden style="font-size: 20px;">Employee Email</label>
				<input asp-for="EmployeeEmail" hidden class="form-control" />
				<span asp-validation-for="EmployeeEmail" class="text-danger"></span>
			</div>
			<div class="col-12 pb-3">
				<label class="control-label pt-2" style="font-size: 20px;">Score</label>
				<input asp-for="Score" class="form-control" />
				<span asp-validation-for="Score" class="text-danger"></span>
			</div>
			<div class="col-12 pb-3">
				<label class="control-label pt-2" style="font-size: 20px;">Remarks</label>
				<textarea asp-for="Remarks" class="form-control" rows="5"></textarea>
				<span asp-validation-for="Remarks" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<a asp-controller="SelfEvaluation" asp-action="SelfEvaluationIndex" class="btn-primary btn form-control">Back to List</a>
			</div>
			<div class="col-6">
				<input type="submit" value="Create" class="btn btn-success form-control" />
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
